extends ../template.jade
include ../partials/mixins

block append title 
	| Ailments

block append style
	style.
		#portrait{
			width:100%;
		}

//- block content
//- 	h1.text-center Ailments
//- 	+picture_paragraph('img/knee.png', 'left')
//- 		h3 Knee Stuff
//- 		p 

//- 	+picture_paragraph('img/knee.png', 'right')

//- 	+picture_paragraph('img/knee.png', 'left')

//- 	+picture_paragraph('img/knee.png', 'right')	
