extends ../template.jade
include ../partials/mixins

block append title 
	| Approach

block append style
	style.
		#portrait{
			width:100%;
		}

block content
	h1.text-center My Approach
	hr
	i.text-center
		p "As a PM & R specialist I focus on restoring function to those with neurologic or musculoskeletal problems including people with arthritis, sports injuries, or fibromyalgia. I emphasize neuromuscular retraining, elimination of pain, and proper mechanics.
		p I also utilize Prolotherapy, a safe-all natural injection treatment to ligaments, painful muscle and tendon insertion sites. The solution causes the strengthening and healing of damaged tissue in order to restore joint stabilization, appropriate muscular effort and activity, and non-painful motion, resulting in maximal function for sports and the activities of daily living."
		p - Joy L. Meyer, MD
		hr
	+picture_paragraph('img/muscular-approach.jpg', 'right')
		p She can offer a thorough 1 hour history and physical exam to diagnose the source of their neurologic or musculoskeletal pain, injury, or disability and address the contributing factors. She emphasizes improvement to quality of life through elimination of pain, restoration of function, and prevention of reinjury. The consult includes determining the underlying poor mechanics, plans to retrain the neuromuscular system, and the offer to use prolotherapy to heal damaged tissue.  We offer you years of experience combined with a supportive environment. She is able to see the young and generally healthy with acute injury or the chronically ill with degenerative disease. She has unique expertise when it comes to running injuries and rehab issues particular to women. 
		p Dr. Meyer offers a proactive approach to problems that perhaps you thought you just needed to accept, even though they negatively impact your daily life. She offers an alternative to using solely pain killers or receiving steroid injections which may merely be masking symptoms or put you at risk for future injury.
		p Pain from arthritis, bursitis, tendonitis, disc problems, whiplash, nerve impingement, cartilage damage, fibromyalgia, strains, overuse injuries, chronic illness, etc. require a hands-on evaluation and often involve the entire kinetic chain.  A foot problem may have originated from weakness in the hip and vice versa. The upper and lower core and even the way you breathe affects the neck and back.  The shoulders and knees often take the brunt of overall deconditioning. Dr. Meyer will determine whether you are also a candidate for prolotherapy. 
