extends ../template.jade
include ../partials/mixins

block append title 
	| Contact & Location

block append style
	style.
		#portrait{
			width:100%;
		}

block content
	.row
		.col-md-6.col-sm-12.text-center
			h2 Contact
			hr
			.row
				.col-lg-12
					form#appointmentForm(method='POST' action='https://formspree.io/joy@drjoymeyer.com')
						input(type="hidden" name="_next" value="/contact.html")
						input(type="hidden" name="_subject" value="Someone Filled out your Contact Form!")
						.col-md-6.col-sm-12
							fieldset.form-group
								label(for="name") Name:
								input.form-control#name(name="name" type="text" required placeholder="John Smith")
						.col-md-6.col-sm-12
							fieldset.form-group
								label(for="email") Email Address:
								input.form-control#email(name="_replyto" type="email" required placeholder="example@email.com")
								span#email-invalid(style="visibility:hidden") Must use a valid email address
						.col-xs-12
							fieldset.form-group
								label(for="message") Message:
								textarea.form-control#message(rows='8' name="message" type="text" required placeholder="Enter a message")
						.col-xs-6
							button.pull-left.btn.btn-primary(type="submit") Submit
						.col-xs-6
							h4.pull-right: a(href="mailto:joy@drjoymeyer.com") Joy@DrJoyMeyer.com

		.col-md-6.col-sm-12.text-center
			h2 Location
			hr
			.row
				.col-lg-12
					.embed-responsive.embed-responsive-4by3
						iframe(width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2935.700196017655!2d-73.82550558442867!3d42.625313926301175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dde029d8df1079%3A0x4560eb4ccd0d143a!2sHands+of+Grace!5e0!3m2!1sen!2sus!4v1535594019366&zoom=13" allowfullscreen)
					p: small * Second Floor, Suite 2B in Hands of Grace
