extends ../template.jade
include ../partials/mixins

block append title 
	| Contact & Directions

block append style
	style.
		#portrait{
			width:100%;
		}

block content
	h1 Contact & Directions
	p
