extends ../template.jade
include ../partials/mixins

block append title 
	| About Dr. Meyer

block append style

block content
	h1.text-center Joy L. Meyer, MD
	hr
	.col-xs-12
		+picture_paragraph('img/portrait.jpg', 'left')
			p In addition to raising her family and practicing medicine, Dr. Meyer has continued to be physically active. Her positive experiences surrounding athletics and the tremendous value she believes exercise can have on an individual drives her passion to make a difference in the lives of others. Together with her clinical training, it is the numerous injuries she has had over the years that has taught her how to help others. In addition to smart biomechanics, she attributes much of her physical longevity to prolo injections to most every part of her body.
			p She continues to enjoy being a competitor, has coached soccer and track at the high school level, and would love to help you get back to health and wholeness, at whatever "season" or age you are. 
			img(src="img/princeton.jpg" style="float:left; width:100px; margin:10px")
			img(src="img/abpmr_logo.png" style="float:right; width:115px; margin:10px")
		hr
	
	.col-md-4.col-sm-6.col-xs-12
		p #[h3(style="display:inline-block") Education:] #[a(href="DrMeyerCV.pdf" style="display:inline-block;" target="_blank") View CV]
		p B.A. Biochemistry '82, Princeton University
		p Doctor of Medicine ’89, University of Maryland
		p Residency PM&R ’97, Albany Medical Center
		hr
	.col-md-4.col-sm-6.col-xs-12
		h3 Athletic Accomplishments:
		p Princeton Cross Country, Indoor & Outdoor Track
		p.small Multiple Ivy League Championship titles ’78-‘82 
		p.small All-Ivy
		p 2010 Empire State Games
		p.small 1st place: Masters 800 M Run
		hr

	.col-md-4.col-sm-6.col-xs-12
		h3 Other interests:
		p World Missions Movement
		p Medical trips to Honduras, Mexico, Kenya, Indonesia
		p Discipleship; Women at the Cross
		p Coaching/Sports Training