extends ../template.jade
include ../partials/mixins

block append title 
	| About Dr. Meyer

block append style

block content
	h1.text-center Joy L. Meyer, MD
	hr
	.col-xs-12
		+picture_paragraph('img/portrait.jpg', 'left')
			p Dr. Meyer understands the physiology behind exercise and training techniques and knows how to work the neuromuscular system to maximize function.
			p She has particular expertise in the biomechanics of running and the prevention and treatment of sports injuries.
			p Dr. Meyer in her high school days lived for sports; played varsity soccer, basketball, and ran track on the boy’s track team. She was sought after and went on to run competitively at Princeton University, winning multiple Ivy League Championship titles in Cross Country and Indoor & Outdoor Track, as well as being awarded “All-Ivy”.  More recently she assisted in coaching track at the high school level and took 1st place in the 800 M Run in the Masters Empire State Games.
			p Her positive experiences surrounding athletics and the tremendous value she believes they can have on an individual drives her passion to make a difference in the lives of kids today. Let her help you.
		hr
	
	.col-md-4.col-sm-6.col-xs-12
		h3 Education:
		p B.A. Biochemistry '82, Princeton University
		p Doctor of Medicine ’89, University of Maryland
		p Residency PM&R ’97, Albany Medical Center
		p Physical Medicine & Rehabilitation Specialization:
		p.small Non-surgical management of neurologic and musculoskeletal injuries
		p
			a(href="DrMeyerCV.pdf" target="_blank") View CV
		hr
	.col-md-4.col-sm-6.col-xs-12
		h3 Top Athletic Accomplishments:
		p Multiple Ivy League Championship titles ’78-‘82 
		p.small Princeton  Cross Country, Indoor & Outdoor Track
		p.small All-Ivy 
		p.small Senior Athlete Award
		p High School Senior Athlete of the Year ‘78:
		p.small Varsity Captain Soccer, Basketball, Track
		hr

	.col-md-4.col-sm-6.col-xs-12
		h3 Other interests:
		p Medical Missions
		p Coaching/Sports Training