extends ../template.jade
include ../partials/mixins

block append title 
	| Golf Pain

block append style

block content
	h1.text-center Golf Pain
	hr

	+picture_paragraph('img/golfer.png', 'left')
		p Losing distance on your drive? Not able to make that turn for a big back swing or having back pain when you do? Dr. Meyer comments: 
		p Many older golfers have a little arthritis in the lower spine. The small spaces through which the nerves exit are encroached upon by the "spurs". As the right-handed golfer swings back, he often doesn't just rotate his torso but also bends slightly to the right over the right hip. This causes the bony elements on the right to get closer to each other and often the nerve is pinched. The low back as well as the buttock and hip become painful because they are innervated by that nerve.
		p Fortunately, this is all treatable! One has to first relearn how to rotate the torso without bending right or with excessive sway, while also putting one's weight into that back leg and hip instead. Many have lost these proper mechanics but with practice one can regain that neuromotor control. The buttock (ideally with the strongest muscles in the body) is meant to takes its appropriate load. When the low back muscles take the brunt, they stay tight rather than flexible and they limit that all important rotation for a good back swing.
		p If good training is not enough, one can have prolotherapy. Prolotherapy can strengthen the ligaments that support those spinal elements. Once the ligaments are stronger they maintain the space so the nerve can exit unimpinged. Also when the ligaments do their job, the muscles can again stay more relaxed. When the ligaments between the spine and the big hip bone (iliolumbar) are strong, they promote efficient transfer of weight from the spine to the hip.
		p Prolotherapy is essentially the exact opposite of a steroid injection. It is done in the office without any time away from the golf course. Make an appointment for a full evaluation to determine what adjustments you need in your swing and whether or not you are a candidate for prolotherapy. Regain those 20-40 yards you have lost! 