extends ../template.jade
include ../partials/mixins

block append title 
	| The Knee Obsession

block append style

block content
	h1.text-center The Knee Obsession
	hr

	+picture_paragraph('img/knee2.png', 'left')
		p Have you ever wondered why so many people complain of painful knees?   Were they not meant to withstand the stresses of today’s everyday activities?  And why is this, even with all the knee exercises?
		p Medications, knee exercises, and knee arthroscopy seem to be the mainstay.  Traditional arthroscopic debridement is really only indicated for those “whose knees catch, lock, or give way” i.e. “due to either a loose piece of meniscus or cartilage”.  Studies have concluded that there is no difference between patients who received a “sham” versus an arthroscopic procedure for their painful knee.
	+picture_paragraph('img/knee.png', 'right')
		p There is an alternative!   It is common sense that if one’s center of gravity is shifted, more or less weight is placed on the knees.  If one’s other musculature is not engaged properly, especially in the case of the abs/core or the gluts/hips to share the load, no matter how strong the knee muscles are they cannot eliminate the stress to the joint.  Not only do studies validate these findings but studies in fact showed that the imbalance of quad strength actually was causing the increase in back pain in many professional basketball players. 
		p Improper exercise like incorrectly performed squats, step ups, lunges;  walking and running without appropriate biomechanics and the proximal strength is a formula for knee pain and the cause of today’s epidemic.  ACL tears could be so reduced especially in the female population by appropriate training.   The solution is not medications, knee exercises, or arthroscopy.  Learn how to train your body correctly, get to the real cause of your knee troubles.  Avoid a trip to the OR and continue an active lifestyle.