extends ../template.jade
include ../partials/mixins

block append title 
	| Prolotherapy

block append style

block content
	h1.text-center Prolotherapy
	hr
	.picture-paragraph
		.col-xs-12.col-sm-5.col-md-3(style="padding-top:15px; float: right;")
			.panel.panel-primary(style="width:100%; border-radius:5px;")
				.panel-heading
					h3.panel-title Helpful Pages
				a.panel-body.list-group-item(href="http://www.google.com", target="_blank")
					h5.list-group-item-heading American Association of Physical Medicine and Rehabilitation
					p.list-group-item-text
						small This link contains stuff about prolotherapy
				a.panel-body.list-group-item(href="http://www.google.com", target="_blank")
					h5.list-group-item-heading Next Link
					p.list-group-item-text 
						small You can find more information about prolo here
		.caption(style="padding: 15px;")
			p Injury to ligaments causes them to be overstretched and weak and much too loose to be supportive. Their job is to support joints, thus the joints become unstable. This instability often leads to muscles overworking in an attempt to compensate, which results in muscle spasm, trigger point pain, or achy fatigue. There is also increased  wear and tear on the cartilage,  the capsule, and the joint and eventually the pain of arthritis. The tendons (in particular where they attach to bone)  get  chronically inflamed, become friable and weakened, are unable to handle the load of repetitive use or muscle deconditioning, and not only hurt but eventually can tear (as in a rotator cuff tear). 
	
	+picture_paragraph('img/knee.png', 'left')
		p There are very few areas that cannot be injected based on important blood vessels or nerves that need to be avoided. Even the spine where discs have herniated is supported by ligaments and other tissue that when strengthened, decrease the impingement on nerves. Stenosis improves because the strengthened tissue can prevent narrowing and restore stability to the spine.