extends ../template.jade
include ../partials/mixins

block append title 
	| Prolotherapy

block append style

block content
	h1.text-center Prolotherapy
	hr
	
	+picture_paragraph('img/prolo_knee.png', 'left')
		.col-xs-12.col-sm-5.col-md-3(style="float: right;")
			.panel.panel-primary
				.panel-heading
					h3.panel-title Helpful Resources
				a.panel-body.list-group-item(href="http://www.prolotherapy.org/", target="_blank")
					h5.list-group-item-heading Prolotherapy.org
					p.list-group-item-text
						small Published research, and the case for Prolotherapy
				a.panel-body.list-group-item(href="http://www.aaomed.org/Injection-Therapy-FAQ", target="_blank")
					h5.list-group-item-heading American Association of Orthopaedic Medicine
					p.list-group-item-text
						small Frequently Asked Questions about Prolotherapy
				a.panel-body.list-group-item(href="http://www.caringmedical.com/chronic-pain/conditions/", target="_blank")
					h5.list-group-item-heading Caring Medical
					p.list-group-item-text
						small Chronic Pains treated with Prolotherapy
				a.panel-body.list-group-item(href="http://www.caringmedical.com/videomedia/prolotherapy-books/", target="_blank")
					h5.list-group-item-heading Caring Medical Books
					p.list-group-item-text
						small Books published on Prolotherapy topics
		p Dr. Meyer injects a safe solution containing dextrose and lidocaine which has no systemic affect on diabetics or others sensitive to sugar.
		p Injury to ligaments causes them to be overstretched and weak and much too loose to be supportive; thus the joints become unstable. This instability often leads to muscles overworking in an attempt to compensate, which results in muscle spasm, trigger point pain, or achy fatigue. There is also increased  wear and tear on the cartilage,  the capsule, and the joint and eventually the pain of arthritis. The tendons (in particular where they attach to bone)  get  chronically inflamed, become friable and weakened, are unable to handle the load of repetitive use or muscle deconditioning, and not only hurt but eventually can tear (as in a rotator cuff tear). 
		p There are very few areas that cannot be injected based on important blood vessels or nerves that need to be avoided. Even the spine where discs have herniated is supported by ligaments and other tissue that when strengthened, decrease the impingement on nerves. Stenosis improves because the strengthened tissue can prevent narrowing and restore stability to the spine.

		hr
		
		p Prolotherapy charges generally range from $50-$250 for a region (or about $10/injection).
		p Ex. Neck Pain, such as whiplash injury and subsequent degenerative disc disease.
		p $150 For a thorough physical exam including explanation and home exercise program, with Prolotherapy to restore ligaments to original length and strength
		p Compare this with the costs of ongoing massages, chiropractic appointments, and PT co-pays.

		p Ex. Treatment for Tennis Elbow
		p $50 For an exam, probably upper back/scapular exercise program, with Prolotherapy to strengthen tendons.
		p Compare this with the costs of Elbow straps, Medicines, Physical Therapy and Cortisone injections.

		hr
			
		img(src='img/prolospine.gif' style="width:100%;")
		img(src='img/before_after.png' style="width:100%;")
		img(src='img/before_after2.png' style="width:100%;")
		
		hr

		img(src='img/study1.jpg' style="width:100%;")

		hr
		
		img(src='img/study2.jpg' style="width:100%;")