extends ../template.jade
include ../partials/mixins

block append title 
	| Prolotherapy

block append style
	style.
		.right-caption > img{
			float: right;
		}
		.right-caption {
		    float: right;
		}

block content
	h1.text-center Prolotherapy
	hr
	+picture_paragraph('img/knee.png', 'left')
		p Injury to ligaments causes them to be overstretched and weak and much too loose to be supportive.  Their job is to support joints, thus the joints become unstable. This instability often leads to muscles overworking in an attempt to compensate, which results in muscle spasm, trigger point pain, or achy fatigue.  There is also increased  wear and tear on the cartilage,  the capsule, and the joint and eventually the pain of arthritis.  The tendons (in particular where they attach to bone)  get  chronically inflamed, become friable and weakened, are unable to handle the load of repetitive use or muscle deconditioning, and not only hurt but eventually can tear (as in a rotator cuff tear). 
		p Exercise therapy addresses muscles and proper mechanics.  Prolotherapy heals the injured tissues in and around the joints (i.e. in the knee or the spine). It strengthens ligaments and tendons and takes away pain. It involves the injection of a safe solution causing a natural local reaction, which increases blood supply and flow of nutrients and stimulates tissue repair.  It is less traumatic to the body than arthroscopic, microscopic or open surgery and there is no down time or months of recovery.  It is also very affordable. 
		p Dr. Meyer has had 10 years of extensive training and experience in prolotherapy.