extends ../template.jade
include ../partials/mixins

block append title 
	| The Shoulder Dilemma

block append style

block content
	h1.text-center The Shoulder Dilemma
	hr

	+picture_paragraph('img/shoulder2.png', 'right')
		p Many people today have pain in their shoulder as a result of impingement of the rotator cuff.  As a result they receive treatment directed at the 4 rotator cuff muscles, tendons, and their insertion site (the bursa) on the humerus bone.  If that fails they often have a procedure to decrease the acromial spurs that have developed that are a source of irritation to the tendons.
		p The humeral head is the ball and the scapula is the socket and the acromion is the roof of this ball and socket joint.  The ball has to be drawn up and into the socket before the arm can be moved in its full range without pain often caused by the roof (acromion) “pinching” the supraspinatus and infraspinatus tendons.  Secondly, the socket also has to be at the right position and if it is not, when the arm is lifted, the tendons will be impinged between the humerus and the acromion. 
	+picture_paragraph('img/Prolotherapy-Man.jpg', 'left')
		p People with shoulder pain almost always, overuse their upper traps and pecs, and underuse their lower traps and serratus anterior which are muscles that rotate the scapula to position the acromion correctly. As a result the acromion lacks the tilt so as to not allow for sufficient clearance.  Very often, retraining these muscles solves the problem.  Even if there is already arthritis, restoring proper motion and stabilization restores range and takes care of the pain.  Specific exercises need to be done for this. 
		p The capsule and ligaments supporting the shoulder (labral, glenohumeral, coracoclavicular, acromioclavicular, coracoacromial, sternoclavicular) are also often stretched and no longer giving the necessary support for the ball and socket to function properly and without pain.  In this case, even if a spur is present, if these supportive structures are restored to their previous length and strength, use of the arm and shoulder can potentially become pain free.  This is how it is believed that prolotherapy is affective. 
		p Instead of surgery and cortisone injections,  exercise and/or prolotherapy is indicated.  Even if surgery or cortisone has already been done, pain relief and functional improvement can still be achieved with these alternatives. 