doctype html
html(lang="en" dir="ltr")
	head
		block head
			include partials/head.jade
			title
				block title
					|Joy L. Meyer |
			block style

	body
		include partials/header.jade
		.container#content
			block content
		include partials/footer.jade
		block javascript