footer
	#footerBar
		.container
			.col-sm-6.col-xs-12
				h6 Navigation
				p
				a(href="index.html") Home 
				|  | 
				a(href="appointments.html") Appointments 
				|  | 
				a(href="contact.html") Contact & Locations 
			.col-sm-6.col-xs-12
				h6 Accreditation:
				img(src='img/abpmr_logo.png' style='height:40px; margin-right:5px')
				|The American Board of Physical Medicine and Rehabilitation
	#copyrightBar
		.container
			|© Copyright 2016 | Joy L. Meyer, M.D. Physical Medicine and Rehabilitation | All Rights Reserved