header
	div(id="titleBar" style="position: relative; z-index: 10; padding:10px 0;")
		.container
			.row
				.col-lg-8.col-sm-6.col-xs-12#header-left
						img#logo(src="img/abpmr_logo.png")
						h1 Joy L Meyer, M.D.
						h3 Physical Medicine and Rehabilitation
				.col-lg-4.col-sm-6.col-xs-12.text-center.pull-right
						.col-xs-6.text-right
							h4 Tues, Wed, Thurs
							h5 274 Delaware Ave.
							h5 Delmar, NY 12054
						.col-xs-6.text-left
							h4 Fridays only
							h5 1659 Central Ave.
							h5 Colonie, NY 12205
						h4 (518) 360-6627
						a(class="btn btn-xs btn-primary" href="appointments.html" role="button" style="margin-right:10px") Make an Appointment  
						a(href="https://www.facebook.com/JoyLMeyerMd" target="_blank")
							img(src="img/facebook_logo.png" style="height:22px")


	nav( role="navigation", class="navbar navbar-default navbar-static-top", style="position: relative; z-index: 1; box-shadow: 0 0 20px 1px black")
		.container
			.navbar-header
				a.navbar-brand(href="index.html")
					| Home
				button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#dropdown_menu", aria-expanded="false", aria-controls="navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

			.collapse.navbar-collapse( id="dropdown_menu" )
				ul.nav.navbar-nav
					+nav_item_dropdown( "#" )( label="Learn More")
						+nav_item( "http://www.aapmr.org/about-physiatry/about-physical-medicine-rehabilitation/what-is-physiatry", "_blank" ) Physiatry
						+nav_item( "prolotherapy.html" ) Prolotherapy
						+nav_item( "drmeyer.html" ) Dr. Meyer
					+nav_item_dropdown( "#" )( label="Common Cases")
						+nav_item( "golfers.html" ) Golfers
						+nav_item( "runners.html" ) Runners
						+nav_item( "knees.html" ) Knee Pain
						+nav_item( "shoulders.html" ) Shoulder Pain
					+nav_item( "appointments.html" ) Appointments
					+nav_item( "contact.html" ) Contact & Locations
